<%- layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h1>Edit your listing</h1>
    <form
      method="POST"
      action="/listings/<%=listing._id%>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          value="<%= listing.title %>"
          class="form-control"
          name="listing[title]"
          placeholder="enter title"
          required
        />
        <div class="valid-feedback">title Looks good!.</div>

        <div class="invalid-feedback">Please enter title.</div>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Description</label>
        <textarea
          class="form-control"
          name="listing[description]"
          placeholder="enter description"
          required
        >
<%= listing.description %></textarea
        >
        <div class="invalid-feedback">Please enter Description.</div>
      </div>

      <div class="mb-3">
        Original Listing Image <br />
        <img src="<%= originalUrl %>" />
      </div>

      <div class="mb-3">
        <label for="title" class="form-label">Upload new Image</label>
        <input type="file" class="form-control" name="listing[image]" />
        <div class="invalid-feedback">Please enter Image/URL.</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="title" class="form-label">Price</label>
          <input
            value="<%= listing.price %>"
            class="form-control"
            name="listing[price]"
            placeholder="enter price"
            required
          />
          <div class="invalid-feedback">Please enter valid price.</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="title" class="form-label">Country</label>
          <input
            value="<%= listing.country %>"
            class="form-control"
            name="listing[country]"
            placeholder="enter country"
            required
          />
          <div class="invalid-feedback">Please enter country.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="title" class="form-label">Location</label>
        <input
          value="<%= listing.location %>"
          class="form-control"
          name="listing[location]"
          placeholder="enter location"
          required
        />
        <div class="invalid-feedback">Please enter location.</div>
      </div>
      <button class="btn btn-dark edit-btn mt-3 mb-3">Edit</button>
    </form>
  </div>
</div>
